<h1>Cocktails#show</h1>
<h2> <%= @cocktail.name %> </h2>

<h4>Composition</h4>
<% @doses.each do |dose| %>
  <li> 
    <%= dose.description %> of <%= dose.ingredient.name %>. 
    <%= link_to "Delete", dose_path(dose.id), method: "delete" %>
  </li>
<% end %>

<h4>Add a dose</h4>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description%>
  <%= f.association :ingredient %>
  <%= f.submit %>
<% end %>