<div class="container">
  <div class="row">
    <div class="col">
      <div class="content">
        <div class="cocktail-card">
            <% if @cocktail.photo.attached?%>
              <div class="cocktail-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path @cocktail.photo.key %>')"></div>
            <% else %>
              <div class="cocktail-card-image" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= @cocktail.image %>')"></div>
            <% end %>
            
            <div class="cocktail-card-details-container">
              <div class="cocktail-card-details">
                <h2> <%= @cocktail.name %> </h2>
                <hr>
                <ul>
                    <% @doses.each do |dose| %>
                    <li> 
                      <div class="list-item-container">
                        <%= dose.description %> <%= dose.ingredient.name %> 
                        <%= link_to dose_path(dose.id), method: "delete" do %>
                          <i class="fas fa-times"></i>
                        <% end %>
                      </div>
                    </li>
                    <% end %>
                </ul>
                <div class="form-container">
                  <div class="add-form">
                    <h4>Something's missing?</h4>
                    <%= simple_form_for [@cocktail, @dose] do |f| %>
                    <%= f.input :description%>
                    <%= f.association :ingredient %>
                    <%= f.submit "Add ingredient" %>
                    <% end %>
                  </div>    
                </div>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
